[submodule "bundle/base16-vim"]
	path = pack/default/start/base16
	url = https://github.com/chriskempson/base16-vim.git
[submodule "bundle/vim-commentary"]
	path = pack/default/start/commentary
	url = https://github.com/tpope/vim-commentary/
[submodule "bundle/vim-surround"]
	path = pack/default/start/surround
	url = https://github.com/tpope/vim-surround/
[submodule "bundle/repeat"]
	path = pack/default/start/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/airline"]
	path = pack/default/start/airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "bundle/airline-themes"]
	path = pack/default/start/airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "bundle/solarized"]
	path = pack/default/start/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/racket"]
	path = pack/default/start/racket
	url = https://github.com/wlangstroth/vim-racket.git
[submodule "bundle/lexima.vim"]
	path = pack/default/start/lexima
	url = git@github.com:cohama/lexima.vim.git
  ignore = untracked
[submodule "pack/bundle/start/vim-easy-align"]
	path = pack/default/start/easy-align
	url = git@github.com:junegunn/vim-easy-align.git
[submodule "pack/default/start/vinegar"]
	path = pack/default/start/vinegar
	url = git@github.com:tpope/vim-vinegar.git
[submodule "pack/default/start/pencil"]
	path = pack/default/start/pencil
	url = git@github.com:reedes/vim-colors-pencil.git
[submodule "pack/default/start/fugitive"]
	path = pack/default/start/fugitive
	url = git@github.com:tpope/vim-fugitive.git
